div.comentario-root div.comentario-add-comment-host {
    background-color: inherit !important;
}

div.comentario-root {
    color: inherit !important;
}

div.comentario-root input[type=email], div.comentario-root input[type=password], div.comentario-root input[type=text], div.comentario-root input[type=url], div.comentario-root textarea {
    color: inherit !important;
    background-color: inherit !important;
}

div.comentario-root div.comentario-backdrop {
    background-color: inherit !important;
}

.comentario-root .comentario-btn-primary {
    --cmntr-btn-bg: #195EA9 !important;
    --cmntr-btn-hover-bg: #2B6AB1 !important;
    --cmntr-btn-active-bg: #273E8F !important;
}

.comentario-root .comentario-btn {
    --cmntr-btn-hover-bg: #2B6AB1 !important;
    --cmntr-btn-active-bg: #273E8F !important;
}

div.comentario-root div.comentario-card div.comentario-name {
    color: inherit !important;
}

div.comentario-root button.comentario-btn {
    color: inherit !important;
}

div.comentario-footer {
    display: none !important;
}

div.comentario-main-area {
    margin-bottom: 12px !important;
}